html{
    font-family: 'Oswald',sans-serif;
    text-align: center;
    text-transform: uppercase;

}
h1{
    font-size: 4em;

}
p{
    
   font-size: 1em;
}

button{
    width: 100%;
    height:6%;
    font-size: 1.5em;
}